* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 100px;
    background-image: url(/olena-sergienko-I3jSS2YfmcU-unsplash.jpg);
}
div {
    display: flex;
    justify-content: center;
    padding-left: 50px;
}
main {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 60px);
    background-color: rgb(153, 216, 153);
    opacity: 0.6;
}

/* GRID ADJUSTMENTS */

#equal-sign {
    grid-column: -1 / -3
}
#dot {
    grid-column: -3 / -4
}
#display, #user-input {
    grid-column: 1 / 5
}
#zero {
    grid-column: -4 / -5
}

/* REST CSS */


#display, #user-input {
    background-color: #bdcd95;
    background-color: rgb(41, 41, 45);
    color: #76F0E0;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    text-align: right;
}

button {
    background:linear-gradient(#26225a 70%, #686478);
    color: #76F0E0;
    border-style: none;

    
}
button:active {
    background: #10180d;
}



button:focus {
    outline: none;
}

.footer-container {
    width: 100%;
    position: fixed;
    bottom: 25px;
}

.credits {
    width: 400px;
    color: #ffd6dd;
    margin: auto;
    font-family: 'Space Mono', monospace;
}